main {
  max-width: 100ch;
  padding: 2ch;
  margin: auto;
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  word-wrap: break-word;
  background-color: white;
  line-height: 1.5;
}

a:visited {
  color:blue
}

h1, h2, h3, h4, h5, h6{
    margin-top:0;
    margin-bottom:.2em;
}

.footer {
  font-style: italic;
  color: grey;
  font-size: .9em;
}

body {
}

p {
    margin-bottom: .2em; 
    line-height: 1.5;
    margin-top: 0px; 
}

.inline {
  display: inline;
}

img {
  max-width: 100%;
}

#editor {
  width: 100%;
  border: 1px solid #999999;
  margin: 5px 0;
  line-height: 1.4;
  padding: 3px;
  font-size: 1rem;
  resize: vertical;
}

.textform {
width: 100%;
resize: vertical;
}

.impersonate {
  font-style: italic;
  font-weight: bold;
}

.button {
  background-color: white; /* Green */
  border: 1px solid black;
  text-decoration: none;
  padding: 2px 5px;
  display: inline-block;
  margin: 0px;
  font-size: 1rem;
}


.button:hover {
  background-color: black;
  color: white;
}

.delete:hover {
  background-color: red;
  color: white;
}

.error {
  color: red;
}

.warning {
  color: #ffcc00 ;
}

.alert {
  color: green;
}

.nav {
  color: blue;
}

.user-admin-details {
  margin-left: 1em;
  margin-bottom: 1em;
}

a {
text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1.5rem;
}

.indent-wrap {
  padding-left: 1em;
  text-indent: -1em;
}

blockquote {
  margin-left: .5em;
  font-style: italic;
  background: #f9f9f9;
  border-left: .5em solid #ccc;
  padding: .5em 10px;
}

@media (prefers-color-scheme: dark) {
  body, main { background: #1b222c; color: white; }
  a { color: #21e6c1 }
  a:visited { color: #21e6c1 }
  input[type="text"], input[type="password"], textarea {
    color: white;
    background-color: #121212;
  }
  blockquote {
    background-color: #121212;
    border-left: .5em solid black;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px
  }
  input[type="text"], input[type="password"], textarea {
    font-size: 1rem;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
  }
}

hr.thin {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

thead,
tfoot {
    background-color: #c0c0c0;
}

table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1abc9c;
  color: white;
  text-align: center;
}




pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
